---
layout: handbook-page-toc
title: Incubation Engineering Department Career Framework
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Incubation Engineering Department Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_career_matrix_nav.erb") %>

The Incubation Engineering Department career tracks are visualised on the [Engineering career development landing page](/handbook/engineering/career-development/#incubation-engineering-department).

These are the expected competencies of team members at GitLab by Job Title and job grade.

- Incubation Engineer
    - [Intermediate](/handbook/engineering/career-development/matrix/engineering/incubation/intermediate/)
    - [Senior](/handbook/engineering/career-development/matrix/engineering/incubation/senior/)
    - [Staff](/handbook/engineering/career-development/matrix/engineering/incubation/staff/)
    - [Principal](/handbook/engineering/career-development/matrix/engineering/incubation/principal/)
- Director of Incubation Engineering
- Vice President of Incubation Engineering
